# Programming Project

Choose a real-world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four different variables.
• Investigate the types of variables involved, their likely distributions, and their relationships with each other.
• Synthesise/simulate a data set as closely matching their properties as possible.
• Detail your research and implement the simulation in a Jupyter notebook – the data set itself can simply be displayed in an output cell within the notebook.

Having serious problems using terminal to push to github - cannot solve.
Restart with new repo ?

Potential data topics:

Resting Heart Rate - physical exercise (hours per week) - weight - Age

* Resting Heart Rate - Sleep Quality (hours per night) - BMI - Age 

Driving Distance (golf) - Clubhead speed - launch angle - spin rate

Driving Distance - physical exercise (hours per week) - height - weight 

Body fat percentage - physical exercise (hours per week) - daily caloric intake - age

Lower back pain - physical exercise (hours per week) - family history (yes or no, binomial dist)- Age

* Sleep Quality (hours continous per night) - Hours screen time per day - physical exercise (hours per week) - Reading (time spent in minutes)

* Heart Disease (y or n) - BMI - Age - Chol

** Students motivation (measured by grade) - activity level (hours physical exercise per week) - Social media use (hours per Day) - Previous grade levels (percentage)

Student grades can be taken as third level (1.1, 2.1, 2.2, 3.1, pass, fail) - can get the statistics needed online and base my array, data distribution, mean and standard deviation on it. 

Activity level - students who stay active are expected to be more motivated than those who do not. But does this result in higher grades. Hours per week include gym sessions, walks, runs, yoga, martial arts classes, sports etc.

Social Media Use - Social media use, when not for work or study purposes, has been linked with high levels of anxiety and procrastination. Phones track the number of hours spent on each app per day. Large number of hours spent per day on social media apps generally mean higher levels of distraction, procrastination and lower levels of motivation.

Previous Grade levels - A student who has a track record of high grade levels is expected to already have sufficient levels of motivation and good study habits. A student with high grades in the past is generally motivated to continue this academic success. However, students with previusly low grades can be motivated to improve their situation.

In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
rng = pd.date_range('1/1/2003', periods=200, freq='M')

In [7]:
rng

DatetimeIndex(['2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30',
               '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31',
               '2003-09-30', '2003-10-31',
               ...
               '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28',
               '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30',
               '2019-07-31', '2019-08-31'],
              dtype='datetime64[ns]', length=200, freq='M')

In [8]:
ts = pd.DataFrame(np.random.poisson(60, len(rng)), index=rng, columns=["Average Result"])

In [9]:
ts

            Average Result
2003-01-31              66
2003-02-28              59
2003-03-31              48
2003-04-30              55
2003-05-31              52
...                    ...
2019-04-30              74
2019-05-31              75
2019-06-30              54
2019-07-31              73
2019-08-31              56

[200 rows x 1 columns]

In [19]:
columns = ['Student Grade', 'Activity Level', 'Social Media Use', 'Sex']

In [20]:
df = pd.DataFrame(columns=columns)

In [32]:
Grades = ['1.1', '2.1', '2.2', '3.1', 'pass', 'fail']
Sex = ['Male', 'Female', 'Other', 'Prefer Not To Say']

In [39]:
rng = pd.date_range('1/1/2003', periods=200, freq='M')

199

In [44]:
Grades = ('1.1', '2.1', '2.2', '3.1', 'Pass', 'Fail')
x = np.random.choice(Grades, 10)
x

array(['2.1', '2.1', '2.1', 'Fail', '2.2', '2.1', 'Fail', 'Pass', 'Pass',
       '3.1'], dtype='<U4')